@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  background: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

/* header */

.nav-it {
  padding: 5px 30px;
  text-decoration: none;
  color: black;
}
.nav-it :hover {
  color: white;
}

.nav-link {
  color: black;
  font-weight: 100;
}
/* HERO SECTION */
.hero-section {
  padding: 10px 60px;
  margin-bottom: 100px;
}
.hero-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}
.hero-img {
  height: 60vh;
  margin-right: 160px;
  margin-top: 60px;
}
.hero-header {
  font-weight: 900;
  color: #283e56;
}
.hero-text {
  width: 30vw;
}
/* content styles */
.containers {
  padding: 60px;
}
.qualification-title {
  font-weight: 600;
}
.qualification-illustration {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.qualification-text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* button */
.btn-div {
  display: flex;
  padding: 10px 60px;
  margin-bottom: 30px;
}
.button {
  border: none;
  background-color: #ffde25;
  padding: 15px 40px;
  border-radius: 5px;
  color: inherit;
}
.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
/* footer */
#main-footer {
  padding: 60px 0px;
  background: #283e56;
  color: #ffffff;
}

.icon {
  color: #ffffff;
}
.icon-container {
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  background-color: #38526f;
  color: #ffffff;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1290px) {
}
@media only screen and (max-width: 950px) {
  .nav-item {
    padding: 5px 10px;
  }
  .hero-section {
    padding: 25px;
  }
  .hero-text {
    width: 400px;
  }
  .hero-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-img {
    height: 300px;
  }
  .containers {
    padding: 0;
    margin-bottom: 50px;
  }
  .qualification-illustration {
    display: flex;
    order: 1;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .qualification-text {
    display: flex;
    order: 2;
    justify-content: center;
  }
}
@media only screen and (max-width: 680px) {
}

@media only screen and (max-width: 568px) {
  .hero-img {
    height: 250px;
  }
  .hero-text {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 450px) {
  .icon-container {
    margin: 3px;
  }
}

@media only screen and (max-width: 375px) {
  .hero-section {
    padding: 10px 30px;
  }
  .icon-container {
    margin: 3px;
  }
}
