@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

/* header */
.nav-item {
  padding: 5px 30px;
}
.nav-link {
  color: black;
  font-weight: 300;
}

/* HERO SECTION */
.hero-section {
  padding: 10px 60px;
  margin-bottom: 10px;
}
.hero-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}
.our-services {
  color: #283e56;
}
.hero-text {
  width: 30vw;
}

.hero-img {
  height: 80vh;
}

/* FOR BUSINESSES */
.business,
.individual {
  padding: 20px 60px;
  margin-bottom: 60px;
}
.title {
  /* padding: 0px 60px; */
}
.definition {
  /* padding :0px 60px; */
  width: 50vw;
}
.offers {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
}
.computer-img,
.individual-icon {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.legal-img {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.business-illustrations {
  background-color: #1989ac;
}

.offer-text {
  display: flex;
  margin: auto 0;
  background-color: #ffffff;
}

.book-btn-div {
  display: flex;
  justify-content: flex-end;
}

.book-btn {
  border: none;
  background-color: #ffde25;
  color: inherit;
  padding: 30px 13px;
  border-radius: 5px;
}
.book-btn:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* FOR INDIVIDUALS */

/* footer */
#main-footer {
  padding: 60px 0px;
  background: #283e56;
  color: #ffffff;
}

.icon {
  color: #ffffff;
}
.icon-container {
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  background-color: #38526f;
  color: #ffffff;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1290px) {
}
@media only screen and (max-width: 950px) {
  .nav-item {
    padding: 5px 10px;
  }
  .hero-img {
    height: 70vh;
  }
  .hero-area {
    height: 70vh;
  }
}

@media only screen and (max-width: 767px) {
  .offers {
    margin-bottom: 200px;
  }
  .business-illustrations {
    z-index: -1;
  }
  .offer-text {
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    position: absolute;
    margin-top: 180px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 680px) {
  .hero-img {
    display: flex;
    height: 60vh;
    width: 250px;
  }
  .hero-section {
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .offer-text {
    width: 430px;
  }
}
@media only screen and (max-width: 620px) {
  .offer-text {
    width: 330px;
    height: inherit;
    margin-bottom: 20px;
  }
  .offers {
    margin-bottom: 300px;
  }
}

@media only screen and (max-width: 568px) {
  .hero-section {
    margin-bottom: 50px;
  }
  .hero-img {
    display: flex;
    height: 60vh;
    width: 200px;
  }
  .hero-text {
    width: 300px;
  }
  .hero-area {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
  }
}
@media only screen and (max-width: 515px) {
  .offer-text {
    width: 280px;
    margin-left: 30px;
  }

  .biz-btn {
    margin-top: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .business,
  .individual {
    padding: 20px 30px;
    margin-bottom: 60px;
  }
  .hero-img {
    display: flex;
    height: 40vh;
    width: 150px;
  }
  .hero-section {
    margin-bottom: 20px;
  }
  .hero-text {
    width: 300px;
  }
  .icon-container {
    margin: 3px;
  }
  .offer-text {
    margin-left: 45px;
  }
}
@media only screen and (max-width: 415px) {
  .offer-text {
    margin-left: 36px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-section {
    padding: 10px 30px;
  }
  .icon-container {
    margin: 3px;
  }
  .offer-text {
    margin-left: 16px;
  }
}
