@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  background: #ffffff;
  font-family: "Rubik", sans-serif;
}

/* header */
.nav-item {
  padding: 5px 30px;
}
.nav-link {
  color: white;
  font-weight: 300;
}
.navbar-toggler {
  color: rgb(255, 249, 249);
  background-color: blanchedalmond;
}
.active {
  font-weight: 900;
}
/* HERO STYLES */
.hero-section {
  /* background-color: #010101; */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/edit1\ \(2\).jpg");
  background-size: cover;
  padding: 10px 60px;
  height: 85vh;
}

.hero-text {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 140px 0px 0px 0px;
}

/* ABOUT ME */
.image-container {
  padding: 0 40px 0 40px;
}
.intro-image {
  height: 80vh;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.intro-container {
  padding: 60px 100px 60px 100px;
}
/* MY SKILLS */
.heading {
  color: #283e56;
}
.my-skills {
  padding: 60px 60px 0 60px;
}

.card-deck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
}

.skill-cards {
  text-align: center;
  margin: 10px;
  width: 380px;
  height: 300px;
  padding: 20px;
}
.card-title {
  padding: 0px 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #283e56;
}
.card-icons {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.view-details-btn {
  color: inherit;
  border: none;
  background-color: #ffde25;
  padding: 10px 13px;
  border-radius: 5px;
  text-align: center;
}
.view-details-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.section-description {
  width: 50%;
}
/* SERVICES */

.services {
  padding: 60px 60px 0 60px;
}

.service {
}
.services-illustrations {
  background-color: #1989ac;
}
.service-text {
  background-color: #ecf9ff;
}
.service-text-title {
  color: #283e56;
  font-weight: 700;
}
.service-btn {
  background-color: #ffde25;
}
.service-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.smiley-face {
  height: 300px;
  width: 300px;
}

.prompt-text {
  padding: 70px 50px;
}

/* footer */
#main-footer {
  padding: 60px 0px;
  background: #283e56;
  color: #ffffff;
}

.icon {
  color: #ffffff;
}
.icon-container {
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  background-color: #38526f;
  color: #ffffff;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1290px) {
}
@media only screen and (max-width: 992px) {
  .section-description {
    width: 100%;
  }
  .image-container {
    margin: 60px 400px 60px 400px;
    /* padding: 0; */
  }
}
@media only screen and (max-width: 950px) {
  .about-me-text {
    text-align: center;
  }
  .card-deck {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .skill-cards {
    text-align: center;
    width: 350px;
    height: 350px;
  }
  .card-icons {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .services {
    padding-left: 60px;
    padding-right: 60px;
    width: 80vw;
  }
}
@media only screen and (max-width: 767px) {
  .service {
    position: relative;
  }
  .services-illustrations {
    z-index: -1;
  }
  .service-text {
    position: absolute;
    background-color: #f8f8f8;
  }
  .smiley-face {
  }
}

@media only screen and (max-width: 680px) {
}

@media only screen and (max-width: 600px) {
  .image-container {
    padding: 0 40px 0 40px;
  }
}

@media only screen and (max-width: 568px) {
  .services {
    padding-left: 30px;
    padding-right: 30px;
  }

  .prompt-text {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 450px) {
  .intro-container {
    padding: 60px 20px 60px 20px;
  }

  .prompt-text {
    padding: 20px 0px;
  }

  .hero-section {
    padding: 10px 30px;
  }

  .icon-container {
    margin: 3px;
  }
}
@media only screen and (max-width: 375px) {
  .skill-cards {
    width: 300px;
    height: 300px;
  }

  .services {
    padding-left: 30px;
    padding-right: 30px;
  }

  .icon-container {
    margin: 3px;
  }
}
